<h3><a href="{% url 'todo_list' %}">Home</a></h3>

<h2>Task</h2>

<form action="{% url 'task' id %}" method="POST">
    {% csrf_token %}
    {{ task_form }}
    <input type="submit" name="save_task" value="Save" />
    <input type="submit" name="delete" value="Delete" />
    <input type="submit" name="complete" value="Mark Completed" />
</form>

<hr>

<form action="{% url 'task' id %}" method="POST">
    {% csrf_token %}
    {{ tag_form }}
    <input type="submit" name="add_tag" value="Tag" />
</form>

{% for tag in tags %}
    <span>{{ tag.name }} | </span>
{% endfor %}

<hr>
<h3>Comments</h3>

<form action="{% url 'task' id %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" name="save_comment" value="Add" />
</form>

<ul>
    {% for comment in comments %}
        <li>{{ comment.body }}</li>
    {% endfor %}
</ul>
